main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.boxWrapper,
.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 10px;
}

.buttonWrapper {
  margin-top: 30px;
}
.buttonWrapper button {
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: #eee;
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.buttonWrapper button:hover {
  background-color: #ddd;
}

@media (max-width: 1023px) {
  main {
    padding: 20px;
  }
  .boxWrapper,
  .buttonWrapper {
    gap: 5px;
  }
}
